body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header, .intro {
    background-color: #1F2937;
}
.header{
    display :flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    flex-basis: auto;
    text-align: center;
    min-height: 500px;
}
.intro {
    display: flex;
    padding: 20px 500px;
    justify-content: center;
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}

.animal {
    display: flex;
    justify-content: space-around;
}

.quote {
    display: flex;
    align-self: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300px;
    min-height: 500px;
}

.last {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 25px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    flex-grow: 1;
    height: 200px;
    width: 200px;
}
.hero-link {
    font-size: 18px;
    color: #E5E7EB;
}

.animal img {
    border: 5px solid #3882F6;
}

img {
    width: 200px;
    height: 200px;
    flex-grow 1;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
}
